<div id="book-page">
    <a href="/books">Voltar</a>
    <div class="container">
        <h1>{{book.title}}</h1>
        <p>Páginas: {{book.pages}}</p>
        <p>Autor: {{book.author}}</p>
        <p>Editora: {{book.publisher}}</p>
        <a href="/books/edit/{{book.id}}">Editar</a>
        <form action="/books/remove/{{book.id}}" method="POST">
            <input type="submit" value="Remover">
        </form>
    </div>
</div>

